
.i-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
    background-image:url('bt2.webp');
    background-size:cover;

    /*background-image: radial-gradient(circle,#79b05f,#07214b,#0d0325)
    top:35%;
    left:25%;
    position:absolute;*/
}

.sign-box{
    border-radius:15px;
}